version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "monthly"
      day: "sunday"
      time: "01:00"
      timezone: "Europe/Madrid"
    labels:
      - "dependencies"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
      day: "sunday"
      time: "01:00"
      timezone: "Europe/Madrid"
    labels:
      - "dependencies"
